@* 
 This partial controls the left menu of the AdminLTE dashboard and is called automatically by _AdminLteLayout
    This is where you can add, modify, or remove navigation options in your app
    TODO: This preserves the links as-is for the demo, which lead to broken pages!
    It's up to you to make sure these links either get deleted or lead somewhere REAL!
*@


@{
    Layout = null;
}

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">القائمة الرئيسية</li>
            <li class="active">
                <a href="~/">
                    <i class="fa fa-dashboard"></i> <span>الصفحة الرئيسية</span>
                </a>
            </li>
            <li>
                <a href="~/Products">
                    <i class="fa fa-th"></i> <span>إدارة المنتجات</span> 
                </a>
            </li>
            <li>
                <a href="~/Requests">
                    <i class="fa fa-exchange"></i> <span>الطلبيات</span>
                </a>
            </li>
            <li>
                <a href="~/Requests/Plan">
                    <i class="fa fa-gears"></i> <span>الخطة</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
